* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

@font-face {
    font-family: Knewave;
    src: url(/Users/gabrielaalvarez/Desktop/WEB/Electric_Paradise/TIPO/Chewy-Regular.ttf);
}

@font-face {
    font-family: Chewy;
    src: url(/Users/gabrielaalvarez/Desktop/WEB/Electric_Paradise/TIPO/Chewy-Regular.ttf);
}

:root {
    --color-principal: #F9306A;
    --color-selec: #D30540;
    --color-fondo: #FFEFDE;
    --color-segundo: #CFEDDE;
    --color-tercer: #5EB6B4;
    --tipo-accen: Knewave;
    --tipo-texto: Chewy;
    --espacio: 7rem;
}

body {
    background-color: var(--color-fondo);
}

/* NAVBAR */

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 30px;
}

.ILOGO img {
    width: 60px;
    height: auto;
    display: block;
    transition: 0.3s;
}

.ILOGO:hover img {
    transform: scale(1.1);
}

nav ul {
    display: flex;
    gap: 29rem;
}


nav a {
    font-family: var(--tipo-accen);
    color: var(--color-principal);
    font-size: 2rem; 
    transition: 0.3s;
}

nav a:hover {
    color: var(--color-selec);
}

/* HOME */

/* FONDO */

.fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
}

/* HERO */

.HERO {
    padding: 8rem 1rem;
}

.HERO img {
    display: block;
    width: 40rem;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    transition: 0.3s;
}

.HERO img:hover {
    transform: scale(1.1);
}

/* CARRUSEL */

.carrusel {
    overflow: hidden;
    padding: 6rem 0;
}

.cinta {
    display: flex;
    width: max-content;
    animation: girar 30s linear infinite;
}

.cinta img {
    width: 22rem;
    aspect-ratio: 3 / 4;
    object-fit: cover;
    border-radius: 0.6rem;
    margin-right: 3rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.cinta img:hover {
    transform: scale(1.1);
    box-shadow: 0 0.8rem 1.5rem rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 1;
}


@keyframes girar {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

/* LINE-UP */

.lineup {
    padding: 4rem 2rem;
}

.titulo {
    display: block;
    width: 31rem;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

/* DETRAS DE CAMARA */

.detras {
    display: flex;
    padding-top: 13rem;
    justify-content: center;
}

.detras video {
    width: 50rem;
    border-radius: 1rem;
    object-fit: cover;

}

.DetrasCamara {
    padding-top: 5rem;
}

/* TIENDA */

.degradado {
    position: relative;
    overflow: hidden;
    background: linear-gradient(
        to bottom,
        var(--color-fondo) 0%,
        var(--color-segundo) 20%,
        var(--color-tercer) 100%
    );
    padding: 22rem 2rem 8rem;

}

.HERO-tienda {
    padding: 9rem 1rem 0rem;
}

.HERO-tienda img {
    display: block;
    width: 50rem;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}


/* GALERIA DE PRODUCTOS */

.productos {
    /* padding-top: 15rem; */
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: var(--espacio);
    max-width: 65rem;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    padding-top: 7rem;
}

.galeria img {
    width: calc((100% - var(--espacio)) / 2);
    aspect-ratio: 1 / 1;
    object-fit: contain;
    background-color: white;
    padding: 0.5rem;
    border-radius: 0.6rem;
}

.espuma {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    transform: rotate(-4deg) scale(1.3);
    animation: olas 2.5s ease-in-out infinite alternate;
}

@keyframes olas {
    from {
        transform: translateY(0) rotate(-4deg) scale(1.3);
    }
    to {
        transform: translateY(4rem) rotate(-4deg) scale(1.3);
    }
}




